[submodule "langs"]
	path = langs
	url = https://github.com/anticomputer/tree-sitter-langs-1
	ignore = all
        branch = anticomputer-ql

[submodule "doc/themes/docdock"]
	path = doc/themes/docdock
	url = https://github.com/anticomputer/hugo-theme-docdock
	ignore = all

[submodule "doc/ox-hugo"]
	path = doc/ox-hugo
	url = https://github.com/anticomputer/ox-hugo
	ignore = all
